h1{color: grey;
font-style: Italic;
text-align: center;}

.dg{color: orange;
font-style: Italic;
text-align: center;
font-size: 30pt;}

.db{color: red;
font-style: Italic;
font-size: 30pt;}

body{background-size: 100%;
background-repeat: no-repeat;}

.db{color: yellow;
font-style: Italic;
margin-left: 60px;
font-size: 30pt;